

/*GEneral*/
$general-background-page: #1F1D36;
$general-bacground-header: white;
$general-background-footer: white;
$general-text-color: white;
$general-font-family: 'Oxygen', sans-serif;
$general-nav-backgraund: white;
/*index*/


/*Nosotras*/
$nosotras-main-font-family: 'Times New Roman', Times, serif;

/*Galeria*/
$galeria-overlay-background-color: rgba(63, 51, 81, 0.6);
$galeria-text-color: white;
$border-radius-img: 20px 20px 20px 20px;
$border-radius-overlay: 0 0 20px 20px;
/*Promociones*/
$promociones-background-color: rgba(255, 127, 80, 0.767);
$promociones-text-color: white;
$promociones-overlay-background-color: rgba(2, 6, 116, 0.678);
/*Contacto*/
$contacto-inputs-colors:(
    "bordes":
    #F4C7AB,
    "background":
    rgba(129, 129, 129, 0.08),
    "background-light":
    rgba(129, 129, 129, 0.08)
);
$contacto-label-font-family: 'Oxygen', sans-serif;
$border-bottom-input: 2.5px solid #F4C7AB;
$background-input: rgba(129, 129, 129, 0.2);
$color-background-form:rgba(134, 72, 121, 0.5);